# DONT Exclude the build directory (bin/data) contains data
bin/*.app
bin/data/*.oni
bin/data/GUI/guileftSettings.xml
bin/data/GUI/guirightSettings.xml

# Exclude temp nibs and swap files
*~.nib
*.swp
 
# Exclude OS X folder attributes
.DS_Store
 
# Exclude user-specific XCode 3 and 4 files
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata
